<section style="color: whitesmoke;">
    <h3 >Artikel werden Tabellenweise gemerged. </h3>
    <h4>Das dauert pro Artikel eine Weile...</h4>
</section>

@if(isLoading) {
    <mat-spinner style="width: 40px; height: 40px;"></mat-spinner>
} @else {
    <fieldset style="display: flex; justify-content: space-around; color: whitesmoke;">
                
        <legend>Artikel hinzufügen</legend>
        
        <mat-form-field appearance="outline">
            <mat-label>Artikelnummer</mat-label>
            <input matInput name="addArticle"
            #newArticleNr
            oninput="this.value = this.value.toUpperCase()">
        </mat-form-field>
    
        <mat-form-field appearance="outline" style="flex: 1;">
            <mat-label>Programname</mat-label>
            <input matInput name="addArticleProgram"
            #newArticleProgram
            oninput="this.value = this.value.toLowerCase()">
        </mat-form-field>
        
        
        <button mat-stroked-button color="accent" (click)="addArticle(newArticleNr.value, newArticleProgram.value)"
        style="height: 52px; padding: 0; display: flex; align-content: center;">
             <mat-icon style="font-size: 50px; height: 52px; width: 100%; padding: 0; margin: 0;">add</mat-icon>  
        </button>
    
    </fieldset>
}


@if (mergeResult) {
    <section style="color: whitesmoke;">
        <h3>Antwort</h3>
        <p>Zeitdauer: {{ mergeResult.time }}</p>
        <p>Nachricht: {{ mergeResult.message }}</p>
    </section>
}
