<!-- NAVIGATION -->
<!-- name="navigation" style="vertical-align: middle;" -->
<div id="navigation">
    @if (router.url !== "/") {
    <button mat-button (click)="location.back()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    }
    <button mat-button routerLink="" routerLinkActive="active">OFML Datenmacher</button>
</div>

<!-- name="userSection" style="
width: 100%;
vertical-align: middle;
font-size: var(--mdc-typography-button-font-size, 14px);
display: flex; align-items: center; justify-content: flex-start;" -->

<!-- USER -->
<div id="user">
    @if (currentUser) {

    <section>

        <section>
            <mat-icon>person_outline</mat-icon>

            <span matTooltip="Deine UserID">
                [{{ currentUser.id }}] {{ currentUser.email }}
            </span>
        </section>

        <button (click)="logout()" mat-stroked-button>
            Abmelden
        </button>
    </section>

    <!-- style="display: flex; gap: 1rem; align-items: center; flex-grow: 1;" -->
    <section>
        <button (click)="openSessionList()" mat-stroked-button>
            <!-- style="vertical-align: middle" -->
            <span>{{ getSessionText() }}</span>
            <mat-icon>menu</mat-icon>
        </button>

        <button mat-stroked-button (click)="openTaskDisplay()">
            <mat-icon>menu</mat-icon>
            Tasks
        </button>

        <!-- style="color: white; width: 1.5rem; height: 1.5rem;" -->
        <button mat-fab color="primary" matTooltip="Sitzung editieren" (click)="openEditSessionDialog()"
            style="height: fit-content; width: fit-content;">
            <mat-icon>edit</mat-icon>
        </button>
    </section>

    } @else {
    <button (click)="openLoginDialog()" mat-stroked-button>
        Anmelden
    </button>
    }
</div>

<!-- MISC -->
@if (miscData$ | async; as miscData) {
<!-- style="vertical-align: middle" -->
<div id="misc">
    <!-- style="vertical-align: middle"  -->
    <mat-icon [matTooltip]="'Pfad: ' + miscData.path + ', Datum: ' + miscData.timestamp">info</mat-icon>
</div>
}