@if (!isLoading) {

    <div style="display: flex; flex-direction: row; align-items: stretch; gap: 15px; height: 60px;">
        <section style="display: flex; flex-direction: column; justify-content: space-between;">
            <mat-checkbox  [(ngModel)]="alternativeView">Ansicht ändern</mat-checkbox>
            <strong style="margin-left: 5px;">@if (alternativeView) {Artikelansicht} @else {Klassenansicht}</strong>
        </section>
 
        
        <section style="display: flex; flex-direction: row; align-items: stretch; gap: 5px;">
            <button style="height: 100%" mat-stroked-button color="accent" (click)="resetFilter()">
                <mat-icon color="accent">filter_list</mat-icon>
                <span>{{articleList.length}}</span>
            </button>
    
            <section style="display: flex; flex-direction: column; justify-content: space-between;">
                <strong>Filtern nach:</strong>
                <section style="display: flex; flex-direction: row; align-items: stretch; gap: 5px; height: 35px;">
                    <input [(ngModel)]="filter.program" matInput placeholder="Program"
                    oninput="this.value = this.value.toUpperCase()"
                    (ngModelChange)="onFilterSet()">
    
                    <input [(ngModel)]="filter.article" matInput placeholder="Artikel"
                    oninput="this.value = this.value.toUpperCase()"
                    (ngModelChange)="onFilterSet()">
                </section>
            </section>
        </section>
        
        <button style="height: 100%" mat-stroked-button color="accent">
            <mat-icon color="accent">euro_symbol</mat-icon> 
            <a routerLink="/price-multiplier"style="text-decoration: none; color: inherit;">Multiplizierer</a> 
        </button>

        <button style="height: 100%" mat-stroked-button color="accent">
            <mat-icon color="accent">label_important</mat-icon> 
            <a routerLink="/editor-all"style="text-decoration: none; color: inherit;">Globale Artbase</a> 
        </button>

    </div>
    
    @for (program of getGroupKeys(program2pClass2ArticlesMap); track program; let idx = $index) {
        <section>
            <h2>{{idx+1}}. {{ program | uppercase }} </h2>
        </section>
    
        @if (!alternativeView) {
            @for (pClass of getGroupKeys(program2pClass2ArticlesMap[program]); track pClass; let idx = $index) {
                <mat-card style="margin-bottom: 15px;">
                    <button mat-stroked-button color="accent" style="user-select: text;  width: max-content">
                        <a [routerLink]="['/editor-propclass', { program: program, propClass: pClass }]"
                        style="text-decoration: none; color: inherit;">
                        {{ pClass }}
                        </a> 
                    </button>
                    <mat-card-content>
                        
                    @for (article of program2pClass2ArticlesMap[program][pClass]; track article; let idx = $index) { 
                        <app-article-list-item [article]="article"></app-article-list-item> 
                    }
            
                </mat-card-content>
                </mat-card>        
                } 
        } @else {
            <mat-card style="margin-bottom: 15px;">
                <mat-card-content>
                    
            @for (article of articleListGroupedBy[program]; track article; let idx = $index) {
                <app-article-list-item [article]="article"></app-article-list-item>
            }
            
    </mat-card-content>
        </mat-card>
        }
    }
} @else {
    loading...
}

 