
li {
    list-style-type: none;
} 

.link {
    width: min-content;
    color: red;
    cursor: pointer;
    text-decoration: underline;
}

.input-edit {
    border: none;
    margin-right: 5px;
    background-color: transparent;
    color: white;
  }

 input:focus {
  border: none;
  outline: none; 
}


.edit-highlighted {
  border: 1px dashed var(--accent);
  border-color: var(--accent);
  border-radius: 3px;
}


.edit-highlighted:focus {
  border: 1px dashed var(--accent);
  border-color: var(--accent);
  border-radius: 3px;
}