<div style="display: flex; gap: 10px; align-items: center; justify-content: start; max-width: 50%;">  
    <span style="width: 12rem">{{ article.article_nr }}</span>
    <span style="width: 2rem">{{ article.series }}</span>
    <span style="width: 45rem">{{ getShortText(article) }}</span>
    <button mat-button matTooltip="Artikel öffnen" (click)="openEditArticle(article)">
        <mat-icon color="accent">
        edit
    </mat-icon>
    </button>
    <button mat-button matTooltip="Artbase öffnen" (click)="navigateToEditArtbase(article)">
        <mat-icon color="accent">
            label_important
    </mat-icon>
    </button>
    <button mat-fab color="primary" style="color: white; width: 30px; height: 30px;"
            matTooltip="Artikel löschen (lang drücken)" (click)="$event.stopImmediatePropagation()"
            (holdFinished)="delete()" [timeToPass]="2500" appHoldable>
            <mat-icon>delete</mat-icon>
    </button>
</div>