<div style="display: flex; gap: 1rem; align-items: center; justify-content: start; flex-wrap: nowrap;">  
    <span style="width: 25%;">{{ article.article_nr }}</span>  
    <span style="width: 5%">{{ article.series }}</span>
    <span style="width: 60%;">{{ getShortText(article) }}</span>
    <button mat-button matTooltip="Artikel öffnen" (click)="openEditArticle(article)">
        <mat-icon color="accent">
        edit
    </mat-icon>
    </button>
    <button mat-button matTooltip="Artbase öffnen" (click)="navigateToEditArtbase(article)">
        <mat-icon color="accent">
            label_important
    </mat-icon>
    </button>
    <button mat-fab color="primary" style="color: white; width: 2rem; height: 2rem;"
            matTooltip="Artikel löschen (lang drücken)" (click)="$event.stopImmediatePropagation()"
            (holdFinished)="delete()" [timeToPass]="2500" appHoldable>
            <mat-icon>delete</mat-icon>
    </button>
</div>