

<form [formGroup]="loginForm" >

    <h2 color="primary" style="text-align: center; color: whitesmoke">Es besteht noch kein Konto</h2>

    <mat-form-field style="width: 100%;">
        <mat-label>Email</mat-label>
        <input matInput 
            [formControl]="loginForm.controls.email"
            placeholder="yourEmail@koenig-neurath.de"/>
        <mat-error>Keine valide König+Neurath Email</mat-error>
    </mat-form-field>

    <button type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary"
        (click)="signup()"
        style="display: inline-block; width: 100%;">
        Anmelden
    </button>


</form>