<div style="padding: 30px; border-radius: 5px; overflow-y: auto;">
    <h3 style="color: whitesmoke;">Export</h3>
    <form [formGroup]="createProgramForm">

        <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Programmname</mat-label>
            <input matInput [formControl]="createProgramForm.controls.programName"
                oninput="this.value = this.value.toLowerCase()" maxlength="25" />
            @if (createProgramForm.controls.programName.invalid) { <mat-error>Kein valider Name für ein Programm</mat-error>
            }
        </mat-form-field>
    
        <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Programm ID</mat-label>
            <input #input matInput [formControl]="createProgramForm.controls.programId"
                oninput="this.value = this.value.toUpperCase()" maxlength="2" />
            @if (createProgramForm.controls.programId.invalid) { <mat-error>Eine Programm ID besteht aus zwei
                Ziffern</mat-error> }
        </mat-form-field>
            
        <div style="display: flex; flex-direction: column; color: whitesmoke;">
            
            <p style="color: whitesmoke;">
                Welche Daten sollen erstellt und exportiert werden?
            </p>

            <section style="display: flex; align-items: center; gap: 20px;">
                <mat-checkbox [formControl]="createProgramForm.controls.exportOcd" style="flex: 2;">
                    OCD
                </mat-checkbox>
                <span style="flex: 5;">Kaufmännische Daten</span>
            </section>

            <section style="display: flex; align-items: center; gap: 20px;">
                <mat-checkbox [formControl]="createProgramForm.controls.exportOam" style="flex: 2;">
                    OAM
                </mat-checkbox>
                <section style="flex: 5; display: flex; flex-direction: column;">
                    <span>Grafisches Mapping</span>
                    @if (createProgramForm.controls.exportOdb.value) {
                        <span style="color: red; font-size: smaller;">ODB ist aktiviert, d.h. die OAM wird angepasst.</span>
                    }
                </section>
            </section>
            
            <section style="display: flex; align-items: center; gap: 20px;">
                <mat-checkbox [formControl]="createProgramForm.controls.exportOas" style="flex: 2;">
                    OAS
                </mat-checkbox>
                <span style="flex: 5;">Katalogdaten</span>
            </section>
            
            <section style="display: flex; align-items: center; gap: 20px;">
                <mat-checkbox [formControl]="createProgramForm.controls.exportOfml" style="flex: 2;">
                    OFML
                </mat-checkbox>
                <span style="flex: 5;">OFML Konfiguration</span>
            </section>

            <section style="display: flex; align-items: center; gap: 20px;">
                <mat-checkbox [formControl]="createProgramForm.controls.exportOdb" style="flex: 2;">
                    ODB
                </mat-checkbox>
                <section style="flex: 5; display: flex; flex-direction: column;">
                    <span>Grafische Daten und Grafiken</span>
                    @if (createProgramForm.controls.exportOdb.value) {
                        <span style="color: red; font-size: smaller;">Das Program erhält seine eigenen ODB Daten.<br>Benötigt mehr Zeit.</span>
                    }
                </section>
                
            </section>
                                     
            <section style="display: flex; align-items: center; gap: 20px;">
                <mat-checkbox [formControl]="createProgramForm.controls.exportGo" style="flex: 2;">
                    GO
                </mat-checkbox>
                <span style="flex: 5;">Metatypen</span>
            </section>

            <section style="display: flex; align-items: center; gap: 20px;">
                <mat-checkbox [formControl]="createProgramForm.controls.exportRegistry" style="flex: 2;">
                    Registry
                </mat-checkbox>
                <span style="flex: 5;">...</span>
            </section>

        </div>
        
        <section>
            <p style="color: whitesmoke;">
                Nachdem Export die .ebase-Dateien automatisch bauen?
            </p>
            <mat-checkbox [formControl]="createProgramForm.controls.buildEbase">
                ebase bauen
            </mat-checkbox>
        </section>

        <mat-divider style="margin-top: 20px; margin-bottom: 10px;"></mat-divider>


        <div style="margin-top: 20px; margin-bottom: 20px;">
            <mat-form-field appearance="outline">
                <mat-label>Exportverzeichnis</mat-label>
                <select matNativeControl required [formControl]="createProgramForm.controls.exportPath">
                    @for (exportPath of exportPathOptions; track exportPath; let idx = $index) {
                        <option [value]="exportPath[0]">{{exportPath[1]}}</option>
                    }
                </select>
            </mat-form-field>
             
            <section style="display: flex; align-items: center; gap: 20px; color: whitesmoke;">
                <mat-icon>
                    notifications
                </mat-icon>
    
                <span>Daten stehen nach Programmerzeugung unter <br> <strong>{{buildCurrentExportPath()}}</strong> <br>bereit.</span>
            </section>
        </div>
    
        <button type="submit" [disabled]="!createProgramForm.valid || isProcessing" (click)="createProgram()" mat-raised-button
            color="accent" style="display: inline-block; width: 100%; height: 50px;">
            Programm exportieren
        </button>
    </form>
    
    @if (isProcessing) {
    <section style="color: white; margin-top: 15px; padding: 0 0 30px 30px; display: flex; justify-content: space-evenly;">
        <strong>Programm "{{ createProgramForm.get('programName')!!.value!! }}" wird erstellt...</strong>
        <strong>{{ secondsPassed }}s</strong>
    </section>
    <div style="display: flex; justify-content: center; margin-bottom: 15px;">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    }
    
    @if (resultExportPath) {
    <div style="margin-top: 5px; color: whitesmoke; padding: 0 0 30px 30px;">
        <p>
            <strong>Dauer: {{ secondsPassed }}s</strong>
        </p>
        <p>
            <strong>Program exportiert nach:</strong>
        </p>
    
        <section style="display: flex; justify-content: space-evenly;">
            <a [href]="resultExportPath" target="_blank" style="color: whitesmoke; max-width: 350px;">
                <strong style=" overflow-wrap: break-word;">{{resultExportPath}}</strong>
            </a>
            <button mat-button [cdkCopyToClipboard]="resultExportPath" style="background-color: transparent; border: none;">
                <mat-icon style="color: whitesmoke">
                    content_copy
                </mat-icon>
            </button>
        </section>
    </div>
    } @else if(httpErrorResponse) {
    <div style="margin-top: 5px; padding: 5px 30px 5px 30px; background-color: yellow; color: red; max-width: 50vw;">
        <p>
            <strong style="font-weight: 900; font-size: larger;">Es ist ein Fehler aufgetreten</strong>
        </p>
        
        @if (httpErrorResponse.error.error) {
            <p>
                Fehler: {{ httpErrorResponse.error.error }}
            </p>
        }
        
        @if (httpErrorResponse.error.message) {
            <p>
                Detail: {{ httpErrorResponse.error.message }}
            </p>
        }
        
        <p>
            {{ httpErrorResponse.statusText }}
        </p>
    
        <p>
            {{ httpErrorResponse.message }}
        </p>
        
    </div>
    }
</div>