
<h1>Merkmalsklasse <strong>{{pClass}}</strong></h1>

@if (isLoading) {
    <app-waiting-cursor></app-waiting-cursor>
} @else {

    <h2>{{getPropertyClassText(pClassItem)}}</h2>
    
@for (propItem of getProperties(); track propItem.property; let idx = $index) {
   
        <mat-expansion-panel style="margin-bottom: 10px;">
        <mat-expansion-panel-header style="display: flex;">
            <mat-panel-title style="flex: 4; gap: 10px;"> 
                
                <section style="display: flex; flex: 3; gap: 10px;">
                    <strong>{{ getPropertyHeaderTextMain(propItem) }}</strong> 
                </section>
 
            </mat-panel-title> 

        </mat-expansion-panel-header>
    
        @for (valItem of propItem.values; track valItem; let idx = $index) {
        <section>
            <span style="margin-right: 10px;">{{ getPropertyValueText(valItem) }}</span>
        </section>
        }
    
    </mat-expansion-panel>
    
    
    } @empty {
        @if (!isLoading) {
            <p>
                <strong> Leere Klasse </strong>
            </p>
        } @else {
            <mat-spinner></mat-spinner>
        }
    }
 
    
}
