@if (isLoading) {
<mat-spinner></mat-spinner>
} @else {

@for (propItem of getProperties(); track propItem.property; let idx = $index) {

<mat-expansion-panel style="margin-bottom: 10px;">
    <mat-expansion-panel-header style="display: flex;">
        <mat-panel-title style="gap: 1rem; justify-content: space-between; width: 100%;">

            <section style="display: flex; gap: 1rem;">
                <strong>{{ getPropertyHeaderTextMain(propItem) }}</strong>
                <span>{{ getPropertyHeaderTextDetail(propItem) }}</span>
            </section>

            <section style="display: flex; justify-content: flex-end;">
                <button style="width: fit-content;" mat-stroked-button color="accent"
                    (click)="setAllArtbaseValues(propItem, true, $event)">
                    Alle an
                </button>

                <button style="width: fit-content;" mat-stroked-button color="primary"
                    (click)="setAllArtbaseValues(propItem, false, $event)">
                    Alle aus
                </button>
            </section>

        </mat-panel-title>
        <mat-panel-description style="width: 4ch; justify-content: flex-end; flex-basis: 1; flex-grow: 0;" matTooltip="aktive Merkmalswerte">
            {{ getArtbaseItems4Property(propItem).length }} / {{ propItem.values.length }}
        </mat-panel-description>
    </mat-expansion-panel-header>

    @for (valArtbaseItem of propItem.values; track valArtbaseItem; let idx = $index) {

    <section>
        <mat-checkbox (change)="onArtbaseValueChange(valArtbaseItem)" [(ngModel)]="valArtbaseItem.isArtbase">
            <section style="display: flex; flex-direction: row; gap: 10px;">
                <section style="width: 20px; height: 20px;">
                    @if(valArtbaseItem["isUpdating"]) {
                    <mat-spinner style="width: 20px; height: 20px;"></mat-spinner>
                    }
                </section>
                <span>{{ getPropertyValueText(valArtbaseItem.item) }}</span>
                @if (valArtbaseItem.isArtbase) {
                <span style="color: green;">fest bewertet</span>
                }
            </section>

        </mat-checkbox>
    </section>
    }

</mat-expansion-panel>


} @empty {
@if (!isLoading) {
<p>
    <strong> Leere Klasse </strong>
</p>
}
}


}