<div class="container">
    <div>
        <div style="display: flex; flex-direction: row; align-items: flex-start;">
            <h2 [matBadge]="validArtbaseItems().length" matBadgeOverlap="false">Artbase global setzen</h2>
        </div>
        <div class="header">
            <mat-chip-listbox>
                @for(program of activePrograms; track program) {
                <mat-chip-option [selected]="selectedProgram == program" (click)="selectedProgram = program">
                    {{ program }}
                </mat-chip-option>
                }
            </mat-chip-listbox>
        </div>
        @if (isFetchingData) {
        <p><strong>Einen Moment bitte (initial werden Daten geladen) ...</strong></p>
        <app-waiting-cursor></app-waiting-cursor>
        } @else {
        <div class="items">
            <table>
                <tr>
                    <th><mat-label>Merkmal</mat-label></th>
                    <th><mat-label>Wert</mat-label></th>
                </tr>
                @for(item of artbaseItems; track item; let idx = $index) {
                <tr>
                    <td>
                        <mat-form-field>
                            <input matInput (ngModelChange)="onPropertyInput($event)" [(ngModel)]="item.property"
                                placeholder="z.B. F1" />
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style="vertical-align: middle;">
                            <input matInput [(ngModel)]="item.value" placeholder="z.B. WI"
                                oninput="this.value = this.value.toUpperCase()" />
                        </mat-form-field>
                    </td>
                    @if(idx > 0) {
                    <button mat-mini-fab color="primary" style="vertical-align: middle;" (click)="deleteItem(idx)">
                        <mat-icon style="vertical-align: middle;">delete</mat-icon>
                    </button>
                    }
                </tr>
                }
            </table>
            <div class="centered-div">
                <button class="add-button" mat-mini-fab (click)="addEmptyItem()" [disabled]="btnAddDisabled()">
                    <mat-icon>plus_one</mat-icon>
                </button>
            </div>
            @if (this.validArtbaseItems().length > 0) {
            <button type="submit" mat-raised-button class="" [disabled]="btnDisabled()" (click)="updateAll()">
                Alle aktualisieren
            </button>
            }
            @if (showArtbaseChangesResult) {
            <div style="margin-top: 20px;">
                <p>
                    <strong>Artbase Einträge neu hinzugefügt:</strong> {{artbaseChanges.length}}
                </p>
                @for(item of artbaseItemsResultCopy; track item; let idx = $index) {
                <p>
                    <strong>{{ item.property }} {{ item.value }} : </strong> {{ item.changeCounter }} x
                </p>
                }
                @for(item of artbaseChanges; track item; let idx = $index) {
                <p>
                    {{ item.articleNr }} - {{ item.pClass }} - {{ item.property }} - {{ item.value }}
                </p>
                }
            </div>
            }
        </div>
        }
    </div>
    <div style="min-width: 50%;">
        <app-prop-summary [selectedProgram]="selectedProgram" [currentPropertyInput]="currentUserInput.property"
            (onValueSected)="addItem($event)">
        </app-prop-summary>
    </div>
</div>