<h2> Artbase </h2>
@if(articleItem) {

  <h3> {{ articleItem.article_nr }}</h3>

  @for (pClass of getPropClasses(); track pClass; let idx = $index) {
    
    <mat-expansion-panel style="margin-bottom: 10px;">
      <mat-expansion-panel-header style="display: flex;">
          <mat-panel-title style="flex: 4;">
              {{ pClass.prop_class }}
          </mat-panel-title>
          <mat-panel-description style="flex: 1;" matTooltip="aktive Merkmalswerte">
    
          </mat-panel-description>
      </mat-expansion-panel-header>

      
    <app-artbase4proplass
    [program]="pClass.sql_db_program"
    [pClass]="pClass.prop_class"
    [articleItem]="articleItem"
    ></app-artbase4proplass> 
  
</mat-expansion-panel>

}
}
 