<mat-sidenav-container>
  <!--
  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
  -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <app-header></app-header>
      </mat-toolbar-row>
    </mat-toolbar>



    <div
      style="height: calc(100% - var(--mat-toolbar-standard-height)); width: 100%;  display: flex; align-items: center; justify-content: center;">
      <div id="my-container" style="width: calc(100% - 2rem); height: calc(100% - 4rem); ">


        @if (routesActivated$ | async) {
        <router-outlet></router-outlet>
        <button mat-fab color="primary" matTooltip="Program erstellen"
          style="position: fixed; bottom: 2rem; right: 2rem;" (click)="openExportProgramDialog()">
          <mat-icon>build</mat-icon>
        </button>
        } @else {
        <h3>Nichts anzuzeigen.</h3>
        <p>Wählen Sie entweder eine vorhandene Sitzung aus oder erstellen Sie eine neue Sitzung.</p>
        }

      </div>
    </div>


    <!-- <div style="width: 100%; height: 1rem; background-color: royalblue; margin: 0 auto;"></div> -->

  </mat-sidenav-content>


</mat-sidenav-container>