<mat-sidenav-container>
  <!--
  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
  -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <app-header style="display: flex; justify-content: space-between; width: 100%;"></app-header>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="content">
      @if (routesActivated) {
        <router-outlet></router-outlet> 
        <button mat-fab color="primary" matTooltip="Program erstellen" style="position: fixed; bottom: 30px; right: 30px;"
        (click)="openCreateProgramDialog()">
        <mat-icon>build</mat-icon>
        </button>
      } @else {
        <h3>Nichts anzuzeigen.</h3>
        <p>Wählen Sie entweder eine vorhandene Sitzung aus oder erstellen Sie eine neue Sitzung.</p>
      }
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>