<mat-sidenav-container>
  <!--
  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
  -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <app-header style="display: flex; justify-content: space-between; width: 100%;"></app-header>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="content">
      @if (routesActivated) {
        <router-outlet></router-outlet>
      } @else {
        Wählen Sie eine Sitzung aus (todo: not logged in ...)
        <router-outlet></router-outlet>
      }
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>