<h2> Artbase </h2>
@if(articleItem) {

  <h3> {{ articleItem.article_nr }}</h3>

  @for (pClass of getPropClasses(); track pClass; let idx = $index) {
    
    <mat-expansion-panel style="margin-bottom: 10px;">
      <mat-expansion-panel-header style="display: flex;">
          <mat-panel-title style="flex: 4;">
              {{ pClass.prop_class }}
          </mat-panel-title>
          <mat-panel-description style="flex: 1;" matTooltip="aktive Merkmalswerte">
    
          </mat-panel-description>
      </mat-expansion-panel-header>

      
    <app-artbase4proplass
    [program]="pClass.sql_db_program"
    [pClass]="pClass.prop_class"
    [articleItem]="articleItem"
    ></app-artbase4proplass> 
  
</mat-expansion-panel>

}
}

<!--
  <h1>Artbase von
  <strong>
    {{ this.articleItem.articleNr }}</strong> aus <strong>{{ this.articleItem.program | uppercase}}
  </strong>
</h1>

@if (isFetchingData) {
<app-waiting-cursor></app-waiting-cursor>
} @else {


@for (pClass of articleItem.pClasses; track pClass; let idx = $index) {

<h2> Merkmalsklasse: <strong>{{ pClass }}</strong> </h2>
@for (propItem of getPropItems(pClass); track propItem.property; let idx2 = $index) {

<mat-expansion-panel [disabled]="!propItem.active" style="margin-bottom: 10px;">
  <mat-expansion-panel-header style="display: flex;">
    <mat-panel-title style="flex: 5; display: flex;">

      <section style="display: flex; background-color: transparent; flex: 4;">
        <section style="flex: 3; display: flex; gap: 10px; align-items: center;">
          <span>{{ propItem.property }}</span>
          <span>:</span>
          <span>{{ propItem.propertyText }}</span>
        </section>
        
        <section style="flex:1; display: flex; gap: 5px;">
          <mat-checkbox (click)="$event.stopPropagation()"
          [checked]="propItem.isAnyArtbase()"
          (change)="onToggleAll(propItem, $event)"
          matTooltip="Alle Artbase Einträge umschalten">
        </mat-checkbox>
          <mat-checkbox 
          disabled [(ngModel)]="propItem.active"
          [matTooltip]="propItem.active ? 'Merkmal ist sichtbar' : 'Merkmal ist unsichtbar'">
          @if (!propItem.active) {
            Merkmal ist unsichtbar
          }
        </mat-checkbox>
        </section>
      </section> 

    </mat-panel-title>
    <mat-panel-description style="flex: 1;">
      {{ propItem.getArtbaseValues().length }} / {{ propItem.values.length }}
    </mat-panel-description>
  </mat-expansion-panel-header>


  <div>
    <section style="display: flex; align-items: flex-start;">
      <span style="flex-basis: 5rem;">Artbase</span>
      <span style="flex-basis: 5rem;">Sichtbarkeit</span>
    </section>
    <div style="display: flex; flex-direction: column;">
      @for (valItem of propItem.values; track valItem.value; let idx = $index) {
        <section style="display: flex; align-items: flex-start;">
    
          <mat-checkbox style="flex-basis: 5rem;" (change)="onToggle(valItem, $event)" [(ngModel)]="valItem.isArtbase"></mat-checkbox>
          <mat-checkbox style="flex-basis: 5rem;" disabled [(ngModel)]="valItem.active"></mat-checkbox>
          <span>{{ valItem.value }} : {{ valItem.text }}</span>
        </section>
        }
    </div>
  </div>
  

</mat-expansion-panel>

} @empty {
<p><strong>Leer</strong></p>
}

}


}
-->