

<h1>Artbase von <strong>{{ this.articleItem?.articleNr }}</strong> aus <strong>{{ this.articleItem?.program | uppercase
    }}</strong> </h1>

@if (isFetchingData) {
  <app-waiting-cursor></app-waiting-cursor>
} @else {
  

@for (pClass of articleItem?.pClasses; track pClass; let idx = $index) {

<h2> Merkmalsklasse: <strong>{{ pClass }}</strong> </h2>
@for (propItem of getPropItems(pClass); track propItem.property; let idx2 = $index) {

<mat-expansion-panel [disabled]="!propItem.active" style="margin-bottom: 10px;">
  <mat-expansion-panel-header>
    <mat-panel-title>

      <span>
        {{ propItem.property }} : {{ propItem.propertyText }}
        <mat-checkbox disabled [(ngModel)]="propItem.active"></mat-checkbox>
      </span>

    </mat-panel-title>
    <mat-panel-description>
      {{ propItem.getArtbaseValues().length }} / {{ propItem.values.length }}
    </mat-panel-description>
  </mat-expansion-panel-header>



  @for (valItem of propItem.values; track valItem.value; let idx = $index) {
  <section>

    <mat-checkbox [(ngModel)]="valItem.isArtbase"> Artbase </mat-checkbox>
    <mat-checkbox disabled [(ngModel)]="valItem.active">{{ valItem.value }} : {{ valItem.text }}</mat-checkbox>

  </section>
  }

</mat-expansion-panel>

} @empty {
  <p><strong>Leer</strong></p>
  }

}


}
 