@if (propClassNames$ | async; as propClassNames) {

    @for (pClass of propClassNames; track pClass) {

        <!-- <div>Klasse {{pClass}}</div> -->

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ pClass }}
                </mat-panel-title>
            </mat-expansion-panel-header>
        
            <app-propclass-viewer [program]="selectedProgram" [pClass]="pClass">
            </app-propclass-viewer>
        
        </mat-expansion-panel>
        }

}