<div style="max-height: 80vh; 
            overflow-y: auto;
            padding: 5px;
            color: whitesmoke;
            width: min-content;
            ">
    <h2 color="primary" style="text-align: center;">Sitzung auswählen ({{ sessions.length }})</h2>
    <mat-selection-list>
        <mat-list-item style="height: 60px;">
            <button mat-button (click)="openCreateSessionDialog()" style="width: 100%; height: 60px;">
                Neue Sitzung anlegen
            </button>
        </mat-list-item>
        <mat-divider style="margin: 15px"></mat-divider>
        @for (item of sessions; track item.session.id; let idx = $index) {
        <mat-list-item (click)="selectSession(item)" style="display: flex; justify-content: space-between; height: 90px"
            [ngStyle]="{'border': item.session.id === currentSession?.id ? '1px dashed red' : 'none'}">
            <section matListItemTitle>
                <strong>[{{ item.session.id }}] {{ item.session.name }}</strong>
                <br>
                <span matTooltip="Eigentümer">{{ item.owner.email }}</span>
                <br>
                <div style="display: flex; justify-content: left;">
                    <section>
                        @if (item.owner.email === currentUser.email) { <mat-icon matTooltip="Diese Sitzung ist von Ihnen">person_outline</mat-icon> }
                    </section>
                    <section>
                        @if (item.session.isPublic) { <mat-icon matTooltip="öffentlich">lock_open</mat-icon> }
                        @else { <mat-icon matTooltip="privat">lock</mat-icon> }
                    </section>
                </div>
            </section>
            <div matListItemMeta style="display: flex; justify-content: space-between; flex-grow: 0.1;">
                <section>
                    <strong>letzte Änderung</strong>
                    <br>
                    {{ item.session.editDate!!.getYearMonthDay()}}
                    <br>
                    {{ item.session.editDate!!.getHourMinSec()}} Uhr
                </section>
                <mat-divider [vertical]="true"></mat-divider>
                <section>
                    <strong>erstellt am</strong>
                    <br>
                    {{ item.session.creationDate!!.getYearMonthDay()}}
                    <br>
                    {{ item.session.creationDate!!.getHourMinSec()}} Uhr
                </section>
                <button mat-fab color="primary" style="color: white; width: 40px; height: 40px;"
                    matTooltip="Sitzung löschen (lang drücken)" (click)="$event.stopImmediatePropagation()"
                    (holdFinished)="deleteSession(item)" [timeToPass]="2000" appHoldable>
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-fab color="primary" style="color: white; width: 40px; height: 40px;"
                    matTooltip="Sitzung editieren" (click)="openEditSessionDialog(item)">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </mat-list-item>
        }
    </mat-selection-list>
</div>