<form class="primary">
    <h2 color="primary" style="text-align: center; color: whitesmoke">
        {{ textResource.header }} 
    </h2>   
    <section style="color: whitesmoke; margin: 16px;">
        <strong>Sitzungseigentümer: {{ geUser() }} </strong>
    </section>
    <mat-form-field appearance="outline" style="width: 100%; margin-top: 20px;">
        <mat-label>Sitzungsname</mat-label>
        <input [disabled]="isEditMode()" matInput [(ngModel)]="sessionAndOwner.session.name" name="sessionName" maxlength="20" />
    </mat-form-field>
    <section>
        <mat-checkbox disabled name="isPublic" id="isPublic" [(ngModel)]="sessionAndOwner.session.isPublic"> {{ textResource.checkbox }} </mat-checkbox>
    </section>

    @if (isCreateMode()) {
        <mat-form-field appearance="outline" style="width: 100%; margin-top: 20px;">
            <mat-label>Artikelnummern</mat-label>
            <textarea  style="width: 100%;" [(ngModel)]="sessionAndOwner.session.articleInput"
            matInput [rows]="5" name="textAreaArticles"
            oninput="this.value = this.value.toUpperCase()">
          </textarea>
          </mat-form-field>
          <span style="color: whitesmoke;">Artikeltnummern*: {{sessionAndOwner.session.getInputTokens().length}}</span>
    } @else {
        
        <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>

        <div>
            <app-merge-article [sessionName]="sessionAndOwner.session.name"></app-merge-article>
            
            @if (addArticleFailed) {
                <mat-error>Artikel konnte nicht hinzugefügt werden</mat-error>
            }
            
        </div>

    }
    
    <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>
    <span style="color: red">{{formErrorMessage}}</span>
    @if (isCreateMode()) {
        <button type="submit" mat-raised-button color="primary"
        (click)="saveSession()"
        style="display: inline-block; width: 100%; height: 50px;"
        [disabled]="!isFormValid()">
        {{ textResource.button }} 
    </button>
    }
    

    <button mat-stroked-button color="accent"
        (click)="dialogRef.close()"
        style="display: inline-block; width: 100%; height: 35px; margin-top: 10px;"
        >
        Schließen
    </button>
    
</form>