
<h1>Merkmale für Klasse <strong>{{pClass}}</strong> von <strong>{{program}}</strong></h1>

@if (isLoading) {
    <app-waiting-cursor></app-waiting-cursor>
    }

@for (propItem of propItems; track propItem.property; let idx = $index) {

<mat-expansion-panel style="margin-bottom: 10px;">
    <mat-expansion-panel-header>
        <mat-panel-title>
            
            <span>
                {{ propItem.property }} : {{ propItem.propertyText }}
                <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="onChangeAll(propItem, $event)"
                [(ngModel)]="propItem.active">
                </mat-checkbox>
            </span>

        </mat-panel-title>
        <mat-panel-description>
            {{ propItem.getActiveValues().length }} / {{ propItem.values.length }}
        </mat-panel-description>
    </mat-expansion-panel-header>



    @for (valItem of propItem.values; track valItem; let idx = $index) {
    <section>
        <mat-checkbox (change)="propClass.edited = true"
            [(ngModel)]="valItem.active">
            {{ valItem.value }} : {{ valItem.text }}
        </mat-checkbox>
    </section>
    }

</mat-expansion-panel>

} @empty {
    @if (!isLoading) {
        <p>
            <strong> Leere Klasse </strong>
        </p>
    }
}
 