<div id="outer" style="height: 100%; width: 100%;">

    <div id="inner" style="height: 100%; width: 100%;">

        @if (alternativeView$ | async; as alternativeView) {
        @if (articleItemsGroupedByProgram$ | async; as items) {
        <app-article-list-over-articles [items]="items">
        </app-article-list-over-articles>
        }
        } @else {
        @if (articleItemsGroupedByProgramAndClass$ | async; as items) {
        <app-article-list-over-classes [items]="items">
        </app-article-list-over-classes>
        }
        }
    </div>
</div>